
*, 
*:before, 
*:after {
    margin: 0;
    padding: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */



/*
 * A better looking default horizontal rule
 */

/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
    font-family: sans-serif;
}

h2 {
	margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%
}

section {
	opacity: 0;
}
.loaded section,

.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

main {
	overflow-x: hidden;
}


#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
    z-index: 9000;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	top: 50%;
    margin:0 auto;
}
	/*.hsContent h2  {
		/*color: #fff8de;*/
		/*background-color: rgba(0,0,0,0.5);*/
		/*padding: 10px 5px;*/
		/*font-size: 35px;*/
		/*line-height: 38px;*/
		/*margin-bottom: 12px;*/
	/*}*/
	.hsContent p {
		width: 400px;
		color: white;
	}
	.hsContent a {
		color: #ffffff;
		text-decoration: none;
	}
.box{
    border:1px solid rgba(0,0,0,0);
    background-color: rgba(255, 148, 0, 0.5);
    padding: 5px  1px;
    margin-bottom: 5px;
    margin-top: 5px;

}

.box2{
    border:1px solid rgba(255,255,255,1);
    background-color: rgba(0, 0, 0, 0);
    padding: 5px  1px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}

.mousecar{
    position: fixed;
    top: 475px;
    left:43%;
    display: block;
    z-index: 1;
}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/bcg_slide-1.jpg')}
#slide-1 .hsContent {
	bottom: 250px;
	top: auto;
    left:470px;
    font-family: Josephin Sans, sans-serif;
    position: absolute;
    display: block;
    
}

/* Slide 2 */
#slide-2 .bcg { background-image:url('../img/bcg_slide-2.jpg')}
#slide-2 .hsContent {
	bottom: 300px;
	top: auto;
    color: #ffffff;
    text-align: left;
    display: block;
    z-index: 9000;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/bcg_slide-3.jpg')}
#slide-3 .hsContent {
	margin-left: -239px;
}
	#slide-3 h2 {
		color: #f2ead6;
		background-color: rgba(0,0,0,0.6);
	}

/* Slide 4 */
#slide-4 .bcg {background-image: url('../img/bcg_slide-4.jpg')}
#slide-4 .hsContent {
	margin-left: 250px;
    z-index: auto;
    color: #ffffff;
    font-family: sans-serif;
   
}
	#slide-4 h2 {
		background: none;
		padding-left: 0;
		padding-right: 0;

	}

    
#slide-5 .bcg {background-image:url('../img/bcg_slide-5.jpg');}
#slide-5 .hsContent {
    margin-left: 250px;
    color: #ffffff;
}
 
/* Slide 6 */
#slide-6 .bcg {
    background-image:url('../img/bcg_slide-6.jpg');}
#slide-6 .hsContent {
    /*margin-left: -400px;
    /*color: #ffffff;
    position: relative*/
    display: block;
    margin: 0 auto;
    top:100px;
    position: relative;
    overflow: hidden;



}
    

.pleasecenter{
    margin:0 auto;
    display: block;
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

/*.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}*/

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */







.submitButton{
    background-color: blue;
    color: white;
    font-family: sans-serif;
    padding:10px 10px 10px 10px;
    font-weight: bold;
    font-size: 125%;
}

.submitButton:hover{
    background-color: yellow;
}




.extensionlink{
    top: 50px;
    font-family: Josephin Sans, sans-serif;
    position: fixed;
    display: block;
    /* margin: 0 auto; */
    left: 50vw;
    transform: translate(-59%,0);
    background: #624391;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

.extensionlink a{
    color: #fdfdfd;
    text-decoration: none;
}

.extensionlink:hover{
    background: white;
}

.extensionlink:hover a{
    color: #1b8fc8;
}
.gobutton{
    border: 1px solid rgba(255,255,255,1);
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    top: 50vh;
    padding: 10px 10px 10px 10px;
    left: 60vw;
    position:relative;
    
}

.flex{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

button{
    background: rgba(255,255,255,.2);
    border: none;
    border-radius: 11px;
    transition:all .25s ease-in-out;
}

button:hover{
    background: transparent;
}
