*, 
*:before, 
*:after {
	margin: 0;
	padding: 0;
}

/* global styles */

.centerme{
	text-align: center;
}

.left{
	float: left;
}

.right{
	float:right;
}

.hide{
	dispay:none;
}

.front{
	z-index: 100;
}

*{ margin: 0; padding: 0;}

body{
	overflow: hidden;
	font-family: 'Josefin Sans', sans-serif;
}

#clouds{
	padding:100px 0;
	background: #bedafc;
	background: -webkit-linear-gradient(top, #bedafc 0%, #fff 100%);
	background: -linear-gradient(top, #bedafc 0%, #fff 100%);
	background: -moz-linear-gradient(top, #bedafc 0%, #fff 100%);
	z-index: -1;
}

.cloud{
	width: 200px;
	height:60px;
	background: #fff;

	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;

	position: relative;
}

.cloud:before, .cloud:after{
	content: "";
	position: absolute;
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after{
	width: 120px;
	height:120px;
	top:-55px;
	left: auto;
	right: 15px;
}

.cloud{
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
	}

.x1{
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

.x2{

	left:200px;

	-webkit-transform: scale(0.6);
	-moz-transform:scale(0.6);
	-transform: scale(0.6);
	opacity: 0.6;

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x3{

	left:-200px;

	-webkit-transform: scale(0.8);
	-moz-transform:scale(0.8);
	-transform: scale(0.8);
	opacity: 0.8;

	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 30s linear infinite;
}

.x4{

	left:200px;

	-webkit-transform: scale(0.6);
	-moz-transform:scale(0.6);
	-transform: scale(0.6);
	opacity: 0.6;

	-webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
	-o-animation: moveclouds 35s linear infinite;
}

.x5{

	left:-300px;

	-webkit-transform: scale(1.2);
	-moz-transform:scale(1.2);
	-transform: scale(1.2);
	opacity: 0.5;

	-webkit-animation: moveclouds 10s linear infinite;
	-moz-animation: moveclouds 10s linear infinite;
	-o-animation: moveclouds 10s linear infinite;
}

@-webkit-keyframes moveclouds{
	0%{margin-left: 1000px;}
	100%{margin-left: -1000px;}
}

@-moz-keyframes moveclouds{
	0%{margin-left: 1000px;}
	100%{margin-left: -1000px;}
}

@-o-keyframes moveclouds{
	0%{margin-left: 1000px;}
	100%{margin-left: -1000px;}
}

.congrats{
	width: 300px;
	margin:0 auto;
}

h1{
	font-size: 2.5em;
}

p{
	font-size: 1.0em;
}