<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>WIKIO-KART</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="author" href="https://plus.google.com/u/0/109859280204979591787/about"/>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!--
			* This demo was prepared for you by Petr Tichy - Ihatetomatoes.net
			* Want to see more similar demos and tutorials?
			* Help by spreading the word about Ihatetomatoes blog.
			* Facebook - https://www.facebook.com/ihatetomatoesblog
			* Twitter - https://twitter.com/ihatetomatoes
			* Google+ - https://plus.google.com/u/0/109859280204979591787/about
		-->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <style type="text/css">
			body {
				font-family: 'Open Sans', sans-serif;
			}
		</style>

		<script src="js/vendor/jquery-1.9.1.min.js"></script>
		<script src="js/vendor/modernizr-2.7.1.min.js"></script>


	    <!-- Google Analytics -->
	    <script>
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	    ga('create', 'UA-67980008-1', 'auto');
	    ga('send', 'pageview');
	    </script>
	    <!-- End Google Analytics -->

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Paytone+One|Josefin+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body class="loading">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

       	<!-- <div id="preload"> -->
	       	<!-- <img src="img/bcg_slide-1.jpg"> -->
	       	<!-- <img src="img/bcg_slide-2.jpg"> -->
	       	<!-- <img src="img/bcg_slide-3.jpg"> -->
	       	<!-- <img src="img/bcg_slide-4.jpg"> -->
       	<!-- </div> -->

       	<main>

	        <section id="slide-1" class="homeSlide">
	        	<div class="bcg" >
			    	<div class="hsContainer">
			    		<div class="hsContent extensionlink">
				    		<article><a href="#">Get the Google Chrome Extension</a></article><!-- link to google chrome extension -->

			    		</div>
		        	</div>
		        	</div>
		        	<!-- </div> -->
	        	</div>
		    </section>

		   <img src="img/mouse.png" class="mousecar" width="100px">

		    <section id="slide-2" class="homeSlide">
		    	<div class="bcg" >
			    	<div class="hsContainer">
			    		<div class="hsContent box2">
				    		<h2>How to Play</h2>
				    		<p>Start at one random Wikipedia page, <br>
				    		and click your way to the other using <br>
				    		links on the page. Move as fast as you can- <br>
				    		<i>we're timing you!</i> </p>
			    		</div>
		        	</div>
		    	</div>
		    </section>

			<section id="slide-3" class="homeSlide">
				<div class="bcg">
			    	<div class="hsContainer">
		    			<div class="hsContent">
				    		<!-- TEXT GOES HERE -->
			    		</div>
			    	</div>

			    </div>
			</section>



		<section id="slide-5" class="homeSlide">
			<div class="bcg">
		    	<div class="hsContainer">

		    	</div>

		    </div>
		</section>

		<script>
          $(document).ready(function(){
            $('#submit-button').click(function() {
              var name = $('#kartName').val();
              var data = {
                name: name
              };

              $.ajax({
                type: "POST",
                url: '/api/user',
                data: data,
                success: function(dataResponse) {
                  // probably need this to parse the json from server
                  dataResponse = JSON.parse(dataResponse);
                  console.log('post success');
                  var extensionID = "dookpljdhbelnhekoanbkgahcioialmn";

                  location.replace(dataResponse.startUrl);

                  chrome.runtime.sendMessage(extensionID, {saveContent: dataResponse},
                    function(response) {
                      console.log(response.farewell);
                  });

                  // probably dont need because of above message ^
                  // Make the request
                  // chrome.runtime.sendMessage(extensionID, {action: "startGame"},
                  //   function(response) {
                  //     console.log(response.farewell);
                  // });
                },
                error: function() {
                  alert("Please enter a name for your Kart!");
                }
              });
            });
          });

		</script>

		</main>

		<section id="slide-6" class="homeSlide">
				<div class="bcg">
			    	<div class="hsContainer">
			    	<div class="hsContent box2">
				    		<h2>Enter Your Name</h2>
				    		<form>
   								 <label for=“name”>Name your Kart</label>
   										 <br>
    						<div class="formelement">
   							 <input type="text" id="kartName">
   							 </div>
   								 <br>
   							 <div class="">
				    				<button id="submit-button">Click me</button>


			    			</div>
							<button>hello</button>
							</form>
							<div class="hsContainer">

			    			</div>
			    	</div>
			    		</div>
			    	</div>

			</section>

        <script src="js/imagesloaded.js"></script>
        <script src="js/skrollr.js"></script>
        <script src="js/_main.js"></script>

    </body>
</html>
